<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1></h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">已知點列表</h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style="background-color: #00c0ef;color: #fff;">
                                            <th>ID</th>
                                            <th>X座標</th>
                                            <th>Y座標</th>
                                            <th>註冊時間</th>
                                            <th>最後更新</th>
                                            <th>操作選項</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        \{foreach from=$detectPointData item=detectPoint\}
                                        <tr>
                                            <td>\{$detectPoint.point_id\}</td>
                                            <td>\{$detectPoint.x\}</td>
                                            <td>\{$detectPoint.y\}</td>
                                            <td>\{$detectPoint.create_date\}</td>
                                            <td>\{$detectPoint.lastupdate_date\}</td>
                                            <td>
                                                <a href="../controller/detectPointController.php?action=viewPointInfoList&detectPointId=\{$detectPoint.point_id\}">
                                                    <button class="btn btn-sm btn-info"><i class="glyphicon glyphicon-search"></i></button>
                                                </a>&nbsp;
                                                <a href="../controller/detectPointController.php?action=viewEditForm&detectPointId=\{$detectPoint.point_id\}">
                                                    <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                                                </a>&nbsp;
                                                <a href="#">
                                                    <button class="btn btn-sm btn-danger" onclick="deleteDetectPoint(\{$detectPoint.point_id\});"><i class="glyphicon glyphicon-remove"></i></button>
                                                </a>
                                            </td>
                                        </tr>
                                        \{/foreach\}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
    <script src="../javascript/detectPoint/detectPointList.js"></script>
</body>

</html>
